<div class="oj-panel oj-flex  oj-sm-align-items-center" style="margin: 10px;">
    <h6 style="font-weight: 500;font-size: 22px;color: #06668a;">
        Franchise Profile
    </h6>
</div>
<div class="oj-flex oj-sm-justify-content-center oj-sm-align-items-center" style="margin: 30px;">
    <oj-select-single id="select1" value="{{franchiseId}}" label-edge="inside" label-hint="Franchise" data="[[franchisesList]]"
    class="oj-form-control-max-width-md" style="width: 300px;padding-right: 20px;">
    </oj-select-single> 
    <oj-button id="button1" on-oj-action="[[franchiseInfoGet]]">
        <i class="fa-solid fa-eye"></i>
        Show
    </oj-button>
    <span class="oj-text-color-danger" id="franchiseRequireMessage" style="display: none;margin-left:10px;">Please select franchise</span> 
</div>

<div class="oj-panel">
    <oj-tab-bar selection="{{selectedItem}}" data="[[tabDataProvider]]" edge="top" display="all" style="border-bottom: 1px solid rgb(6 102 132);">
        <template slot="itemTemplate" data-oj-as="item">
            <li>
                <a href="#">
                    <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                </a>
            </li>
        </template>
    </oj-tab-bar>
    <div class="demo-switcher-container" tabindex="0" style="margin: 50px;">
        <oj-switcher value="[[selectedItem]]">
            <div slot="details" id="home-tab-panel" role="tabpanel" aria-labelledby="home-tab">
                <div class="demo-tab-content">
                    <div class="oj-panel" style="padding: 30px;">
                        <oj-validation-group id="formValidation" class="form-container" role="group">
                            <oj-form-layout id="personal-information" class="form" direction="row" max-columns="3" style="width: 100%;">
                                <oj-input-text id="companyName" label-hint="Company Name" required="true" value="{{companyName}}"></oj-input-text>
                                <oj-input-text id="companyWebsite" label-hint="Company Website" value="{{companyWebsite}}"></oj-input-text>
                                <oj-input-text id="directorFirstName" label-hint="Director's First Name" required="true" value="{{directorFirstName}}"></oj-input-text>
                                <oj-input-text id="directorLastName" label-hint="Director's Last Name" required="true" value="{{directorLastName}}"></oj-input-text>
                                
                                <div>
                                    <oj-input-text id="directorEmail" label-hint="Director's Email" required="true" value="{{directorEmail}}" on-value-changed="[[emailPatternValidator]]"></oj-input-text>
                                    <div class="oj-text-color-danger"><oj-bind-text value='[[directorEmailError]]'></oj-bind-text></div></br>
                                </div>
                                <div class="oj-flex">
                                    <div class="oj-flex-item oj-sm-5 oj-sm-padding-2x-end oj-md-padding-3x-end">
                                        <oj-select-single id="nearestOffice" label-hint="Country Code" label-edge="inside"
                                            data="[[countryCodes]]" value="{{countryCode}}"></oj-select-single>
                                    </div>
                                    <div class="oj-flex-item oj-sm-7 oj-sm-padding-2x-start oj-md-padding-3x-start">
                                        <oj-input-text id="directorContactNumber" label-hint="Director's Contact Number" value="{{directorContactNumber}}" on-value-changed="[[phoneValidator]]"></oj-input-text>
                                    </div>
                                    <div class="oj-text-color-danger"><oj-bind-text value='[[directorContactNumberError]]'></oj-bind-text></div></br>
                                </div>
                                <oj-input-text id="postalAddress" label-hint="Postal Address" value="{{postalAddress}}"></oj-input-text>
                                <oj-input-text id="city" label-hint="City" value="{{city}}"></oj-input-text>
                                <oj-select-single required id="country" label-hint="Country" label-edge="inside"
                                    data="[[countrySet]]" value="{{country}}"></oj-select-single>
                                <oj-select-single required id="bdm" label-hint="BDM" label-edge="inside"
                                    data="[[bdmCounselorList]]" value="{{bdm}}"></oj-select-single>
                                <oj-select-single required id="processingOffice" label-hint="Processing Office" label-edge="inside"
                                    data="[[officesList]]" value="{{processingOffice}}" on-oj-value-action="[[officeChangeHandler]]"></oj-select-single>
                                <oj-select-single required id="consultantAssigned" label-hint="Consultant Assigned" label-edge="inside"
                                    data="[[counselorList]]" value="{{consultantAssigned}}"></oj-select-single>
                                <oj-select-single required id="contractDone" label-hint="Contract Done By" label-edge="inside"
                                    data="[[bdmCounselorList]]" value="{{contractDone}}"></oj-select-single>
                                <oj-input-number id="commissionRate" value="{{commissionRate}}" min="0" max="100" step="10" 
                                label-hint="Commission Rate" label-edge="inside"></oj-input-number>
                            </oj-form-layout>
                        </oj-validation-group>
                        <div class=" oj-flex oj-sm-justify-content-center">
                            <oj-button id="save" chroming="outlined" on-oj-action="[[formUpdate]]">Update</oj-button>
                        </div>
                    </div>
                </div>
                <div class="oj-panel" style="margin-top: 20px;">
                    <oj-select-single id="select" label-hint="Select the year to see the data" label-edge="inside"
                class="oj-form-control-max-width-md" data="[[yearsDp]]" value="{{selectYear}}" on-value-changed="[[yearChanged]]"></oj-select-single>
                </br></br>
                <oj-table id="table" aria-label="Task Table" accessibility.row-header="name" data="[[yearlyApplicationDataprovider]]"
                columns-default.sortable="disabled" layout="fixed"
                class="demo-table-container">
                <template slot="rowTemplate" data-oj-as="row">
                    <tr>
                        <td><oj-bind-text value="{{currentYearRow}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{studentsCount}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{applicationCount}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{finalchoicedCount}}"></oj-bind-text></td>
                    </tr>
                </template>
            </oj-table>
            <oj-table id="table" aria-label="Task Table" accessibility.row-header="name" data="[[yearlyApplicationDataprovider]]"
                columns-default.sortable="disabled" layout="fixed"
                class="demo-table-container">
                <template slot="rowTemplate" data-oj-as="row">
                    <tr>
                        <td><oj-bind-text value="{{previousYearRow}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{previousStudentCount}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{previousApplicationCount}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{previousFinalChoiceCount}}"></oj-bind-text></td>
                    </tr>
                </template>
            </oj-table>
            <oj-table id="table" aria-label="Task Table" accessibility.row-header="name" data="[[yearlyApplicationDataprovider]]"
                columns-default.sortable="disabled" layout="fixed"
                class="demo-table-container">
                <template slot="rowTemplate" data-oj-as="row">
                    <tr>
                        <td><oj-bind-text value="{{percentageRow}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{percentageStudentCount}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{percentageApplicationCount}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{percentageFinalChoiceCount}}"></oj-bind-text></td>
                    </tr>
                </template>
            </oj-table>
                </div>
            </div>
            <div slot="applications" id="blogs-tab-panel" role="tabpanel" aria-labelledby="blogs-tab">
                <div class="demo-tab-content">
                    <div class="oj-panel">
                        <div class="oj-flex oj-sm-justify-content-space-around oj-align-items-center">
                            <div class="oj-flex">
                                <oj-input-date id="applicationFrom" label-hint="From Date" value="{{applicationFromValue}}" 
                                    max="[[applicationToValue]]"  class="oj-form-control-max-width-sm" autocomplete="off"></oj-input-date>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <oj-input-date id="applicationTo" label-hint="To Date" value="{{applicationToValue}}" 
                                    min="[[applicationFromValue]]" class="oj-form-control-max-width-sm" autocomplete="off"></oj-input-date>
                            </div>
                            <!--  <oj-select-many id="select1" value="{{applicationOffice}}" label-edge="inside" label-hint="Office" options="[[officesAllList]]"
                                class="oj-form-control-max-width-md" style="width: 300px;">
                            </oj-select-many>  -->
                            <div>
                                <oj-radioset id="enabledRadioset" value="{{selectApplicationRadio}}" class="oj-choice-direction-row" style="background-color: transparent;">
                                    <oj-option value="ASD">ASD</oj-option>
                                    <oj-option value="CSD">CSD</oj-option>
                                </oj-radioset>
                            </div> 
                            <div class="oj-flex">
                                <oj-button id="button1" on-oj-action="[[viewApplications]]">View All</oj-button>
                                &nbsp;&nbsp;
                                <oj-button id="button1" on-oj-action="[[downloadApplicationData]]">Export</oj-button>
                            </div>
                            <span class="oj-text-color-danger" id="franchiseRequireMessage" style="display: none;margin-left:10px;">Please select franchise</span> 
                        </div> 
                        <div class="oj-panel" style="margin-top: 20px;">
                            <oj-table id="table" aria-label="Task Table" accessibility.row-header="name" data="[[applicationYeardataprovider]]"
                                columns-default.sortable="disabled" layout="fixed"
                                columns='[
                                    {"headerText": "Year", "id": "year", "sortable": "enabled", "minWidth":"8rem"},
                                    {"headerText": "Total Applications", "id": "totalApplications"}, 
                                    {"headerText": "Total Conditional", "id": "totalConditional", "weight": 2},
                                    {"headerText": "Total Unconditional", "id": "totalUnconditional"},
                                    {"headerText": "Total Rejected", "id": "totalRejected"}, 
                                    {"headerText": "Total Pending", "id": "totalPending"}]'
                                class="demo-table-container">
                                <template slot="rowTemplate" data-oj-as="row">
                                    <tr>
                                        <td><oj-bind-text value="[[row.data.year]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.totalApplications]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.totalConditional]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.totalUnconditional]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.totalRejected]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.totalPending]]"></oj-bind-text></td>
                                    </tr>
                                </template>
                            </oj-table>
                        </div>
                        <div class="oj-panel" style="margin-top: 20px;">
                            <oj-table id="table" aria-label="Task Table" accessibility.row-header="name" data="[[applicationDataprovider]]"
                                columns-default.sortable="disabled" layout="fixed"
                                columns='[
                                    {"headerText": "ID", "id": "year", "sortable": "enabled"},
                                    {"headerText": "Course", "id": "totalApplications"}, 
                                    {"headerText": "Name", "id": "totalUnconditional"},
                                    {"headerText": "Office", "id": "totalPending"},
                                    {"headerText": "Staff", "id": "totalRejected"}, 
                                    {"headerText": "ASD", "id": "totalRejected"},  
                                    {"headerText": "CSD", "id": "totalRejected"}, 
                                    {"headerText": "Status", "id": "totalRejected"}, 
                                    {"headerText": "Nationality", "id": "totalRejected"}, 
                                    {"headerText": "Mobile", "id": "totalRejected"}, 
                                    {"headerText": "Email", "id": "totalRejected"},
                                    {"headerText": "Lead source", "id": "totalRejected"}]'
                                    
                                class="demo-table-container">
                                <template slot="rowTemplate" data-oj-as="row">
                                    <tr>
                                        <td>
                                            <a :id="[[row.data.studentId]]" on-click= "[[viewProfile]]" target="_blank">
                                                <oj-bind-text value="[[row.data.studentId]]"></oj-bind-text>
                                            </a>
                                        </td>
                                        <td><oj-bind-text value="[[row.data.course]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.name]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.office]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.staff]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.asd]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.csd]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.status]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.nationality]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.mobile]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.email]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.leadSource]]"></oj-bind-text></td>
                                    </tr>
                                </template>
                            </oj-table>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="finalChoice" id="settings-tab-panel" role="tabpanel" aria-labelledby="settings-tab">
                <div class="demo-tab-content">
                    <div class="oj-panel">
                        <div class="oj-flex oj-sm-justify-content-space-around oj-align-items-center">
                            <div class="oj-flex">
                                <oj-input-date id="applicationFrom" label-hint="From Date" value="{{finalChoiceFromValue}}" 
                                    max="[[finalChoiceToValue]]"  class="oj-form-control-max-width-sm" autocomplete="off"></oj-input-date>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <oj-input-date id="applicationTo" label-hint="To Date" value="{{finalChoiceToValue}}" 
                                    min="[[finalChoiceFromValue]]" class="oj-form-control-max-width-sm" autocomplete="off"></oj-input-date>
                            </div>
                           <!--  <oj-select-many id="select1" value="{{finalChoiceOffice}}" label-edge="inside" label-hint="Office" options="[[officesAllList]]"
                                class="oj-form-control-max-width-md" style="width: 300px;">
                            </oj-select-many> -->
                            <div>
                                <oj-radioset id="enabledRadioset" value="{{selectFinalChoiceRadio}}" class="oj-choice-direction-row" style="background-color: transparent;">
                                    <oj-option value="ASD">ASD</oj-option>
                                    <oj-option value="CSD">CSD</oj-option>
                                </oj-radioset>
                            </div> 
                            <div class="oj-flex">
                                <oj-button id="button1" on-oj-action="[[viewFinalChoices]]">View All</oj-button>
                                &nbsp;&nbsp;
                                <oj-button id="button1" on-oj-action="[[exportFinalChoices]]">Export</oj-button>
                            </div>
                            <span class="oj-text-color-danger" id="franchiseFinalMessage" style="display: none;">Please select franchise</span>  
                       </div>
                        <div class="oj-panel oj-flex oj-sm-justify-content-space-between oj-flex oj-sm-align-items-center" style="margin: 20px 0px;">
                            <p class="oj-flex oj-sm-align-items-center" style="margin-top: 15px;">
                                Total Records : <oj-bind-text value="[[finalChoiceTotalCount]]"></oj-bind-text>
                            </p>
                            <p class="oj-flex oj-sm-align-items-center" style="margin-top: 15px;">
                                PG : <oj-bind-text value="[[finalChoicePgCount]]"></oj-bind-text>
                            </p>
                            <p class="oj-flex oj-sm-align-items-center" style="margin-top: 15px;">
                                UG : <oj-bind-text value="[[finalChoiceUgCount]]"></oj-bind-text>
                            </p>
                            <p class="oj-flex oj-sm-align-items-center" style="margin-top: 15px;">
                                Pathway follow on : <oj-bind-text value="[[finalChoicePathwayCount]]"></oj-bind-text>
                            </p>
                            <p class="oj-flex oj-sm-align-items-center" style="margin-top: 15px;">
                                Year 2 follow on : <oj-bind-text value="[[finalChoiceYear2Count]]"></oj-bind-text>
                            </p>
                            <p class="oj-flex oj-sm-align-items-center" style="margin-top: 15px;">
                                Year 3 follow on : <oj-bind-text value="[[finalChoiceYear3Count]]"></oj-bind-text>
                            </p>
                            <p class="oj-flex oj-sm-align-items-center" style="margin-top: 15px;">
                                Pre Sessional : <oj-bind-text value="[[finalChoicePresessionCount]]"></oj-bind-text>
                            </p>
                            <p class="oj-flex oj-sm-align-items-center" style="margin-top: 15px;">
                                Other : <oj-bind-text value="[[finalChoiceOtherCount]]"></oj-bind-text>
                            </p>
                        </div>
                        <div class="oj-panel" style="margin-top: 20px;">
                            <oj-table id="table" aria-label="Task Table" accessibility.row-header="name" data="[[finalChoiceDataprovider]]"
                                columns-default.sortable="disabled" layout="fixed"
                                columns='[
                                    {"headerText": "ID", "id": "studentId", "sortable": "enabled"},
                                    {"headerText": "Name", "id": "name"}, 
                                    {"headerText": "Email", "id": "email", "weight": 2},
                                    {"headerText": "Nationality", "id": "nationality"},
                                    {"headerText": "Office", "id": "office"},
                                    {"headerText": "Course Type", "id": "courseType"}, 
                                    {"headerText": "Course Name", "id": "course"}, 
                                    {"headerText": "Staff", "id": "staff"}, 
                                    {"headerText": "Start date", "id": "csd"}, 
                                    {"headerText": "Tution Fees", "id": "tutionfee"}, 
                                    {"headerText": "Commission Rate", "id": "totalRejected"},
                                    {"headerText": "Total Commission", "id": "totalRejected"},
                                    {"headerText": "Lead Source", "id": "totalRejected"},
                                    {"headerText": "Invoice No", "id": "invoiceNo", "width": "10rem"},
                                    {"headerText": "Invoice Sent", "id": "invoiceSent"},
                                    {"headerText": "Paid to Us", "id": "paidToUs"},
                                    {"headerText": "Invoice Action", "id": "action"}]'
                                    
                                class="demo-table-container">
                                <template slot="rowTemplate" data-oj-as="row">
                                    <tr>
                                        <td>
                                            <a :id="[[row.data.studentId]]" on-click= "[[viewProfile]]" target="_blank">
                                                <oj-bind-text value="[[row.data.studentId]]"></oj-bind-text>
                                            </a>
                                        </td>
                                        <td><oj-bind-text value="[[row.data.name]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.email]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.nationality]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.office]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.courseType]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.course]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.staff]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.csd]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.tutionFee]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.commission]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.totalCommission]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.leadSource]]"></oj-bind-text></td>
                                        <td><oj-bind-text value="[[row.data.invoiceNo]]"></oj-bind-text></td>
                                        <td>
                                            <oj-checkboxset id="disabledCheckboxset" value='[[row.data.invoiceSent]]' disabled style="display: flex; justify-content: center;">
                                                <oj-option value="sent"></oj-option>
                                            </oj-checkboxset>
                                        </td>
                                        <td>
                                            <oj-checkboxset id="disabledCheckboxset" value='[[row.data.paidToUs]]' disabled style="display: flex; justify-content: center;">
                                                <oj-option value="paid"></oj-option>
                                            </oj-checkboxset>
                                        </td>
                                        <td>
                                            <a :id="[[row.data.applicationId]]" on-click= "[[editInvoiceDetails]]" target="_blank">
                                                <i class="fa-solid fa-pen-to-square" style="font-size: 20px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </template>
                            </oj-table>
                        </div>
                    </div>  
                    </div>
                </div>
            <div slot="contractFiles" id="contact-tab-panel" role="tabpanel" aria-labelledby="contact-tab">
                <div class="demo-tab-content">
                    <div class="oj-flex oj-sm-justify-content-center">
                        <oj-file-picker selection-mode="multiple" on-oj-select="[[selectListener]]"></oj-file-picker>
                        <p class="oj-text-color-danger" id="file-error" style="display: none;;margin-left:10px;margin-top:40px;">Please select franchise</p>
                    </div>
                    <div>
                        <oj-table id="table" aria-label="Task Table" accessibility.row-header="name" data="[[fileDataProvider]]"
                            columns-default.sortable="disabled"
                            columns='[
                                    {"headerText": "#", "id": "name"},
                                    {"headerText": "File Name", "id": "fileName", "weight": 2}, 
                                    {"headerText": "Action", "id": "action"}]'
                            class="demo-table-container">
                            <template slot="rowTemplate" data-oj-as="row">
                                <tr style="font-size: 17px !important;">
                                    <td><oj-bind-text value="[[row.data.no]]"></oj-bind-text></td>
                                    <td>
                                        <a :id="[[row.data.file]]" on-click= "[[previewClick]]" target="_blank">
                                            <oj-bind-text value="[[row.data.file]]"></oj-bind-text>
                                        </a>
                                    </td>
                                    <td>
                                        <oj-button :id="[[row.data.file]]" on-oj-action="[[removeFile]]" display="icons" chroming="borderless">
                                            <span slot="startIcon" class="oj-ux-ico-delete-circle"></span>
                                        </oj-button>
                                    </td>
                                </tr>
                            </template>
                        </oj-table>
                    </div>
                    <div class="oj-flex oj-sm-justify-content-center" style="margin-top: 30px;">
                        <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[updateContractFiles]]" style="width: 100px;">
                            Update
                        </oj-button>
                    </div>
                </div>
            </div>
            <div slot="logs" id="contact-tab-panel" role="tabpanel" aria-labelledby="contact-tab">
                <div class="demo-tab-content">
                    <div class="oj-panel">
                        <div class="oj-flex oj-sm-justify-content-space-between oj-sm-align-items-center" style="width: 100%;">
                            <h6 style="font-weight: 500;font-size: 25px; margin-left: 20px;">Franchise Log</h6>
                            <div class="oj-flex oj-sm-flex-direction-column" style="margin-right: 20px;">
                                <oj-button on-oj-action="[[addFranchiseLog]]">Add Log</oj-button>
                                <p class="oj-text-color-danger" id="franchiseLogMessage" style="display: none;">Please select franchise</p>
                            </div>
                        </div>

                        <div class="oj-panel">
                            <div id="notesDiv" class="demo-padding demo-container">
                                <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                                    <oj-table id="table" aria-label="Departments Table" accessibility.row-header="depName" data="[[franchiseNoteDataProvider]]"
                                        columns='[
                                            {"headerText": "Staff Name",  "field": "staffName", "headerClassName": "oj-sm-only-hide",
                                                "className": "oj-sm-only-hide", "resizable": "enabled", "id": "depId"},
                                            {"headerText": "Note",  "field": "note", "resizable": "enabled", "id": "depName"},
                                            {"headerText": "Date Added",  "field": "date", "headerClassName": "oj-md-down-hide",
                                                "className": "oj-md-down-hide", "resizable": "enabled", "id": "empCount"},
                                            {"headerText": "Action",  "field": "action", "resizable": "enabled", "id": "depName"}]'
                                        class="demo-table-container">
                                        <template slot="rowTemplate" data-oj-as="row">
                                            <tr>
                                                <td>
                                                    <oj-bind-text value="[[row.data.staffName]]"></oj-bind-text>
                                                </td>
                                                <td>
                                                    <oj-bind-text value="[[row.data.note]]"></oj-bind-text>
                                                </td>
                                                <td>
                                                    <oj-bind-text value="[[row.data.date]]"></oj-bind-text>
                                                </td>
                                                <td>
                                                    <oj-button title="Delete"  on-oj-action="[[deleteLog]]"
                                                        :id="[[row.data.noteId]]" style="background-color: transparent;">
                                                        <i class="fa-solid fa-trash" style="color: #06668a;font-size: 20px;"></i>
                                                    </oj-button>
                                                </td>
                                            </tr>
                                        </template>
                                    </oj-table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div slot="credential" id="credential-tab-panel" role="tabpanel" aria-labelledby="credential-tab">
                <div class="demo-tab-content">
                    <div class="oj-panel">
                        <oj-validation-group id="credentialValidation" class="form-container" role="group">
                            <oj-form-layout id="credential-information" direction="row" max-columns="2" style="margin-left:18%;margin-top:20px;">
                                    <oj-input-text id="franchiseEmail" label-hint="Email" value="{{franchiseEmail}}" required="true" readonly="true"></oj-input-text>
                                    <oj-input-password id="password" label-hint="Password" required="true"  value="{{password}}"  autocomplete="new-password" mask-icon="visible"></oj-input-password>
                            </oj-form-layout>
                        </oj-validation-group>
                        <div class=" oj-flex oj-sm-justify-content-center">
                            <oj-bind-if test="[[btnAction() == 'save' ]]">
                            <oj-button id="btnSubmit" class="oj-button-sm" display="icons" on-oj-action="[[addUser]]" style="width: 100px;margin-right: 10px;">
                                Submit
                            </oj-button>
                            </oj-bind-if>
                            <oj-bind-if test="[[btnAction() == 'update' ]]">
                            <oj-button id="btnUpdate" class="oj-button-sm" display="icons" on-oj-action="[[updateFranchiseCredential]]" style="width: 100px;margin-right: 10px;">
                                Update
                            </oj-button>
                            <oj-button id="btnSend" class="oj-button-sm" display="icons" on-oj-action="[[sendCredential]]" style="width: 100px;">
                                Send
                            </oj-button>
                            </oj-bind-if>
                            <p class="oj-text-color-danger" id="franchiseCredentialMessage" style="display: none;margin-left:10px;">Please select franchise</p>
                        </div>
                    </div>
                </div>
            </div>
        </oj-switcher>
    </div>
</div>

<oj-popup id="progress" class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center"
    position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window" tail="none">
    <div class="demo-popup-body">
        <div class="demo-popup-content oj-sm-padding-2x">
            <oj-progress-circle id="progressCircle" value="-1"></oj-progress-circle>
        </div>
    </div>
</oj-popup>


<oj-dialog id="editInvoice">
    <div slot="header" style="display: contents;">
        <p id="dialogTitleId" class="oj-dialog-title">
            Edit Invoice
        </p>
        <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[editInvoiceCancel]]">
            <span slot="startIcon" class="oj-ux-ico-close"></span>
            Cancel
        </oj-button>
    </div>
    <div slot="body">
        <oj-validation-group id="invoiceForm" class="form-container" role="group">
            <oj-form-layout id="invoiceForm" direction="row">
                <div class="oj-flex oj-sm-justify-content-center">
                    <oj-input-text id="invoiceNo" label-hint="Invoice Number" value="{{editInvoiceNo}}"  required="true"></oj-input-text>
                </div>
                <div class="oj-flex oj-sm-justify-content-space-around" style="margin-top: 20px;">
                    <oj-checkboxset id="enabledCheckboxset" value='{{editInvoiceSent}}' label-hint="Invoice Sent">
                        <oj-option value="sent">Invoice Sent</oj-option>
                    </oj-checkboxset>
                    <oj-checkboxset id="enabledCheckboxset" value='{{editPaidToUs}}' label-hint="Paid tp Us">
                        <oj-option value="paid">Paid to Us</oj-option>
                    </oj-checkboxset>
                </div>
            </oj-form-layout>
        </oj-validation-group>
        <div class="oj-flex oj-sm-justify-content-center">
            <oj-button on-oj-action="[[updateInvoiceDetails]]" style="background-color: #5cb85c;border: none;">Submit</oj-button>
        </div>
    </div>
</oj-dialog>

<oj-dialog id="addLog">
    <div slot="header" style="display: contents;">
        <p id="dialogTitleId" class="oj-dialog-title">
            Add Log
        </p>
        <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[addLogCancel]]">
            <span slot="startIcon" class="oj-ux-ico-close"></span>
            Cancel
        </oj-button>
    </div>
    <div slot="body">
        <oj-validation-group id="logFormValidation" class="form-container" role="group">
            <oj-form-layout id="log-information" direction="row">
                <oj-text-area value="{{franchiseNote}}" label-hint="Enter your Notes" required="true" rows="5"></oj-text-area>
            </oj-form-layout>
        </oj-validation-group>
        <div class="oj-flex oj-sm-justify-content-center">
            <oj-button on-oj-action="[[submitNotes]]" style="background-color: #5cb85c;border: none;">Submit</oj-button>
        </div>
    </div>
</oj-dialog>