<link rel="stylesheet" href="../../css/help.css">
<div class="container">
    <img src="../../css/images/help-banner.jpg" class="banner-image">
    <div class="overlay">
        <p>Manage Institution</p><br>
    </div>
</div>   
<div class="oj-flex  oj-sm-flex-items-1">
    <div style="width:250px; background-color: #e9ecef; height: 500px; overflow: auto; color: gray;padding: 20px;">
        <oj-list-view data="[[dataProvider]]" selection-mode="single" selection="{{selection}}">
            <template slot="itemTemplate" data-oj-as="item">
                <span style="color: black;display: flex; flex-direction: row;justify-content: space-between;">
                    <span class="qst"><oj-bind-text value="[[item.data.label]]"></oj-bind-text></span>
                </span>
            </template>
        </oj-list-view>
    </div>
    <div class="oj-flex-item oj-panel" style="margin: 0px; height: 500px; overflow: auto;">  
        <oj-module config="[[module.koObservableConfig]]"></oj-module>
    </div>
</div>