<div class="oj-panel oj-flex  oj-sm-align-items-center" style="margin: 10px;">
    <h6 style="font-weight: 500;font-size: 22px;color: #06668a;">
        Partner Report
    </h6>
</div>

<div class="oj-panel">
    <div class="oj-flex oj-sm-justify-content-space-around oj-align-items-center">
        <oj-select-many id="select1" value="{{partner}}" label-edge="inside" label-hint="Partner" options="[[partners]]"
        class="oj-form-control-max-width-md" style="width: 300px;">
        </oj-select-many> 
        <div class="oj-flex">
            <oj-input-date id="applicationFrom" label-hint="From Date" value="{{applicationFromValue}}" 
                max="[[applicationToValue]]"  class="oj-form-control-max-width-sm" autocomplete="off"></oj-input-date>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <oj-input-date id="applicationTo" label-hint="To Date" value="{{applicationToValue}}" 
                min="[[applicationFromValue]]" class="oj-form-control-max-width-sm" autocomplete="off"></oj-input-date>
        </div>
        <div>
            <oj-radioset id="enabledRadioset" value="{{selectApplicationRadio}}" style="background-color: transparent;">
                <oj-option value="ASD">ASD</oj-option>
                <oj-option value="CSD">CSD</oj-option>
            </oj-radioset>
        </div> 
        <oj-select-many options="[[countries]]" label-hint="Country Of Application" label-edge="inside" class="oj-form-control-max-width-md" 
        value="{{country}}" style="width: 300px;"></oj-select-many>
        <div class="oj-flex">
            <oj-button id="button1" on-oj-action="[[viewApplications]]">View All</oj-button>
            &nbsp;&nbsp;
            <oj-button id="button1" on-oj-action="[[downloadApplicationData]]">Export</oj-button>
        </div>
         <!-- <span class="oj-text-color-danger" id="instituteAppMessage" style="display: none;">Please select institution</span> -->
    </div> 
    <div class="oj-panel" style="margin-top: 20px;">
        <oj-table id="table" aria-label="Task Table" accessibility.row-header="name" data="[[applicationCountdataprovider]]"
            columns-default.sortable="disabled" layout="fixed"
            columns='[
                {"headerText": "Partner Name", "id": "partnerName"}, 
                {"headerText": "Total Applicants", "id": "totalApplicants"}, 
                {"headerText": "Total Applications", "id": "totalApplications"}, 
                {"headerText": "Total Final Choice", "id": "totalFinalChoice"}, 
                {"headerText": "Total Conditional", "id": "totalConditional", "weight": 2},
                {"headerText": "Total Unconditional", "id": "totalUnconditional"},
                {"headerText": "Total Rejected", "id": "totalRejected"}, 
                {"headerText": "Total Pending", "id": "totalPending"},
                {"headerText": "Total Withrawn", "id": "totalWithdrawn"},
                {"headerText": "Total CourseFull", "id": "totalCoursefull"}]'
            class="demo-table-container">
            <template slot="rowTemplate" data-oj-as="row">
                <tr>
                    <td><oj-bind-text value="[[row.data.partnerName]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.totalApplicants]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.totalApplications]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.totalFinalChoice]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.totalConditional]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.totalUnconditional]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.totalRejected]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.totalPending]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.totalWithdrawn]]"></oj-bind-text></td>
                    <td><oj-bind-text value="[[row.data.totalCoursefull]]"></oj-bind-text></td>
                </tr>
            </template>
        </oj-table>
    </div>
</div>

<div class="oj-panel" style="margin-top: 20px;">
    <oj-table id="table" aria-label="Task Table" accessibility.row-header="name" data="[[applicationDataprovider]]"
        columns-default.sortable="disabled" layout="fixed"
        columns='[
            {"headerText": "Partner Name", "id": "partnerName"}, 
            {"headerText": "ID", "id": "year", "sortable": "enabled"},
            {"headerText": "Course", "id": "course"}, 
            {"headerText": "Signed By", "id": "signedBy"}, 
            {"headerText": "Name", "id": "name"},
            {"headerText": "ASD", "id": "asd"},  
            {"headerText": "CSD", "id": "csd"}, 
            {"headerText": "Offer", "id": "offer"}, 
            {"headerText": "Nationality", "id": "nationality"}, 
            {"headerText": "Mobile", "id": "mobile"}, 
            {"headerText": "Email", "id": "totalRejected"},
            {"headerText": "Lead source", "id": "lead"},
            {"headerText": "COA", "id": "coa"}]'
            
        class="demo-table-container">
        <template slot="rowTemplate" data-oj-as="row">
            <tr>
                <td><oj-bind-text value="[[row.data.partnerName]]"></oj-bind-text></td>
                <td>
                    <a :id="[[row.data.studentId]]" on-click= "[[viewProfile]]" target="_blank">
                        <oj-bind-text value="[[row.data.studentId]]"></oj-bind-text>
                    </a>
                </td>
                <td><oj-bind-text value="[[row.data.course]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.signedBy]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.name]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.asd]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.csd]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.offer]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.nationality]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.mobile]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.email]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.leadSource]]"></oj-bind-text></td>
                <td><oj-bind-text value="[[row.data.coa]]"></oj-bind-text></td>
            </tr>
        </template>
    </oj-table>
</div>

<oj-popup id="progress" class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center"
    position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window" tail="none">
    <div class="demo-popup-body">
        <div class="demo-popup-content oj-sm-padding-2x">
            <oj-progress-circle id="progressCircle" value="-1"></oj-progress-circle>
        </div>
    </div>
</oj-popup>
