<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div id="sampleDemo"  class="demo-container sampleDemo">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
      
      <div id="moduleDemo">  
        <div class="demo-padding">
          <div id="policyContent" style="border: 1px solid #80808036; margin: 10px; padding: 10px; border-radius: 3px;">
<h4 style="display: flex;justify-content: center;">Privacy Policy</h4> </br>

This Privacy Policy describes our policies and procedures on the collection, use and disclosure of your information when you use the service and tells you about your privacy rights and how the law protects you. We use your Personal data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this Privacy Policy.  
</br></br>

<h4 >Collecting and Using Your Personal Data</h4> </br>
<h6>Types of Data Collected</h6> </br>
<h6><i>Personal Data</i></h6>
We do not collect personal data during signup on our mobile apps. You only need to update the required data on the website.</br></br>
<h6><i>Usage Data</i></h6> 
Usage Data is collected automatically when using the Service. Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</br></br>
When You access the Service by or through a mobile device, we do not collect any information automatically, including, but not limited to, the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data.</br></br>
We collect information that Your browser sends whenever you visit our service or when you access the service by or through a desktop.</br></br>
<h6><i>Tracking Technologies and Cookies</i></h6> 
We use Cookies and similar tracking technologies to track the activity on our service and store certain information via desktops. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service. The technologies We use may include:</br></br>
<div>
  <ul>
    <li><b>Cookies or Browser Cookies.</b> A cookie is a small file placed on Your Device. You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, you may not be able to use some parts of our Service. Unless you have adjusted Your browser setting so that it will refuse Cookies, our Service may use Cookies.</li>
    <li><b>Web Beacons. </b>Certain sections of our Service and our emails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those pages or opened an email and for other related website statistics (for example, recording the popularity of a certain section and verifying system and server integrity).</li>
  </ul>
</div></br>
Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies remain on Your personal computer or mobile device when You go offline, while Session Cookies are deleted as soon as You close Your web browser. You can learn more about cookies on TermsFeed website article.</br></br>
<div  style="margin-left: 40px;">
  <div><b>Necessary / Essential Cookies</b></br>
    Type: Session Cookies</br>
    Administered by: Us</br>
    Purpose: These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for cannot be provided, and We only use these Cookies to provide You with those services.</br>
  </div>
</div></br>
For more information about the cookies we use and your choices regarding cookies, please visit our Cookies Policy or the Cookies section of our Privacy Policy.</br></br>
<h6>Use of Your Personal Data</h6> 
The Company may use Personal Data for the following purposes: </br> </br>
<div  style="margin-left: 40px;">
  <div><b>To provide and maintain our Service,</b>including to monitor the usage of our Service.</br>
  </div>
  <div><b>To manage Your Account:</b>
    to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.
  </div>
  <div><b>For the performance of a contract:</b>
    the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.
  </div>
  <div><b>To contact You:</b>
    To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.
  </div>
  <div><b>To provide You </b>
    with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.
  </div>
  <div><b>To manage Your requests: </b>
    To attend and manage Your requests to Us.
  </div>
</div></br>
<h6>Exercising of Your GDPR Data Protection Rights</h6> 
You may exercise Your rights of access, rectification, cancellation, and opposition by contacting Us. Please note that we may ask You to verify Your identity before responding to such requests. If You make a request, we will try our best to respond to You as soon as possible.
</br></br>
<h6>Delete Your Personal Data</h6> 
You have the right to delete or request that We assist in deleting the Personal Data that We have collected about You. Our Service may give You the ability to delete certain information about You from within the Service.</br></br>
You may update, amend, or delete Your information at any time by signing in to Your Account, if you have one, and visiting the account settings section that allows you to manage Your personal information. You may also contact Us to request access to, correct, or delete any personal information that You have provided to Us. Please note, however, that We may need to retain certain information when we have a legal obligation or lawful basis to do so.</br></br>
<h6>Disclosure of Your Personal Data</h6> </br>
<h6><i>Business Transactions</i></h6> 
If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</br></br>
<h6><i>Law enforcement</i></h6> 
Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</br></br>
<h6><i>Other legal requirements</i></h6> 
The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</br></br>
<div>
  <ul>
    <li>Comply with a legal obligation</li>
    <li>Protect and defend the rights or property of the Company</li>
    <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
    <li>Protect the personal safety of Users of the Service or the public</li>
    <li>Protect against legal liability</li>
  </ul>
</div></br>
<h6>Security of Your Personal Data</h6> 
The security of Your Personal Data is important to Us but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, we cannot guarantee its absolute security.</br></br>
<h5>Links to Other Websites</h5> 
Our Service may contain links to other websites that are not operated by Us. If You click on a third-party link, You will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit. We have no control over and assume no responsibility for the content, privacy policies or practices of any third-party sites or services.</br></br>
<h5>Contact Us</h5> 
If you have any questions about this Privacy Policy, You can contact us:</br></br>
<ul>
  <li>By email: info@uniwatcher.com</li>
</ul>
      </div>
        
    </div>
  </div>

</div>
</div> 
  