<div class="oj-panel oj-flex oj-sm-justify-content-space-between" style="margin: 10px;">
    <div class="oj-flex oj-sm-align-items-center">
        <h6 style="font-weight: 500;font-size: 22px;color: #06668a;">
            Reassign Students
        </h6>
        &nbsp;&nbsp;&nbsp;
        <p class="oj-flex oj-sm-align-items-center" style="margin-top: 24px; padding: 4px 10px; border-radius: 10px; background-color: #06668a; color: #fff;">
            Total Students: <oj-bind-text value="[[studentsCnt]]"></oj-bind-text>
        </p>
    </div>
    
    <oj-input-text id="filter" class="oj-form-control-max-width-md" label-hint="Search" label-edge="inside"
        placeholder="Search.." on-raw-value-changed="[[handleValueChanged]]" value="{{filter}}" 
        clear-icon="always" style="width: 300px;"></oj-input-text>
</div>
<div class="oj-flex">
    <oj-bind-if test="[[userRole() === 'admin' ]]">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <oj-select-single id="select" label-hint="Select Office" label-edge="inside" class="oj-form-control-max-width-md"
            data="[[officesDP]]" on-value-changed="[[officeSelectedData]]" value="{{office}}" style="width: 350px;"></oj-select-single>
    </oj-bind-if>
    <oj-bind-if test="[[userRole() === 'director' ]]">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <oj-select-single id="select" label-hint="Select Office" label-edge="inside" class="oj-form-control-max-width-md"
            data="[[officesDP]]" on-value-changed="[[officeSelectedData]]" value="{{office}}" style="width: 350px;"></oj-select-single>
    </oj-bind-if>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <oj-select-single id="select" label-hint="Reassign Counsilor" label-edge="inside" class="oj-form-control-max-width-md"
        data="[[counsilorsDp]]" value="{{counsilor}}" style="width: 350px;"></oj-select-single>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <oj-button id="button1" on-oj-action="[[reassignData]]" style="background-color: #04812f ">
        Submit
    </oj-button>
</div>
<div class="oj-panel" style="margin: 10px;padding: 20px;">
    <div style="margin-top: 20px;">
        <oj-table id="table" aria-label="Departments Table" accessibility.row-header="depName" data="[[studentDataProvider]]"
            dnd='{"reorder": {"columns": "enabled"}}' scroll-policy="loadMoreOnScroll" scroll-policy-options='{"fetchSize": 10}'
            selection-mode='{"row": "multiple", "column": "multiple"}'
            on-selected-changed="[[selectedChangedListener]]"
            columns='[
                {"headerText": "Student Id",  "field": "id", "headerClassName": "oj-sm-only-hide",
                    "className": "oj-sm-only-hide", "resizable": "enabled", "id": "depId"},
                {"headerText": "First Name",  "field": "firstName", "resizable": "enabled", "id": "depName"},
                {"headerText": "Last Name",  "field": "lastNa`me", "headerClassName": "oj-sm-only-hide",
                    "className": "oj-sm-only-hide", "resizable": "enabled", "id": "locId"},
                {"headerText": "Email",  "field": "email", "resizable": "enabled", "id": "manId"},
                {"headerText": "Phone", "field": "phone", "headerClassName": "oj-md-down-hide",
                    "className": "oj-md-down-hide", "resizable": "enabled", "id": "empCount"},
                {"headerText": "Date of Birth", "field": "dob", "headerClassName": "oj-md-down-hide",
                    "className": "oj-md-down-hide", "resizable": "enabled", "id": "empCount"},
                {"headerText": "Counselor", "field": "counselor", "headerClassName": "oj-md-down-hide",
                    "className": "oj-md-down-hide", "resizable": "enabled", "id": "empCount"},
                {"headerText": "Office", "field": "office", "headerClassName": "oj-md-down-hide",
                    "className": "oj-md-down-hide", "resizable": "enabled", "id": "empCount"}]'
            class="demo-table-container">
            <template slot="rowTemplate" data-oj-as="row">
                <tr>
                    <td>
                        <a :id="[[row.data.id]]" on-click= "[[viewProfile]]" target="_blank">
                            <oj-bind-text value="[[row.data.id]]"></oj-bind-text>
                        </a>
                    </td>
                    <td>
                        <oj-bind-text value="[[row.data.firstName]]"></oj-bind-text>
                    </td>
                    <td>
                        <oj-bind-text value="[[row.data.lastName]]"></oj-bind-text>
                    </td>
                    <td>
                        <oj-bind-text value="[[row.data.email]]"></oj-bind-text>
                    </td>
                    <td>
                        <oj-bind-text value="[[row.data.phone]]"></oj-bind-text>
                    </td>
                    <td>
                        <oj-bind-text value="[[row.data.dob]]"></oj-bind-text>
                    </td>
                    <td>
                        <oj-bind-text value="[[row.data.counselor]]"></oj-bind-text>
                    </td>
                    <td>
                        <oj-bind-text value="[[row.data.office]]"></oj-bind-text>
                    </td>
                </tr>
            </template>
            <oj-menu
                slot="contextMenu"
                on-oj-menu-action="[[myActionFunction]]"
                on-oj-before-open="[[myBeforeOpenFunction]]"
                aria-label="Employee Edit">
                <oj-option value="openNewTab">Open link in a new tab</oj-option>
                <oj-option value="Sort Ascending" data-oj-command="oj-table-sortAsc"></oj-option>
                <oj-option value="Sort Descending" data-oj-command="oj-table-sortDsc"></oj-option>
            </oj-menu>
        </oj-table>
    </div>
</div>

<oj-dialog id="msgBox" style="width:500px;min-width:500px;max-width:500px;">
    <div slot="header">
        <p id="dialogTitleId" class="oj-dialog-title">
            Reassign Students
        </p>
    </div>
    <div slot="body">
        <oj-bind-text value="[[message]]"></oj-bind-text>
    </div>
    <div slot="footer">
        <oj-button id="okdelButton" on-oj-action="[[closeButton]]">
            Okay
        </oj-button>
    </div>
</oj-dialog>

<oj-dialog id="warnMsg" style="width:500px;min-width:500px;max-width:500px;">
    <div slot="header">
        <p id="dialogTitleId" class="oj-dialog-title">
            Reassign Students
        </p>
    </div>
    <div slot="body">
        <oj-bind-text value="[[warnMsg]]"></oj-bind-text>
    </div>
    <div slot="footer">
        <oj-button id="okdelButton" on-oj-action="[[confirmReassign]]">
            Yes
        </oj-button>
        <oj-button id="okdelButton" on-oj-action="[[warnMsgPopupCloseButton]]">
            Cancel
        </oj-button>
    </div>
</oj-dialog>

<oj-dialog id="resultMsg" style="width:500px;min-width:500px;max-width:500px;">
    <div slot="header">
        <p id="dialogTitleId" class="oj-dialog-title">
            Reassign Students
        </p>
    </div>
    <div slot="body">
        <oj-bind-text value="[[resultMsg]]"></oj-bind-text>
    </div>
    <div slot="footer">
        <oj-button id="okdelButton" on-oj-action="[[resultPopupCloseButton]]">
            Okay
        </oj-button>
    </div>
</oj-dialog>

<oj-popup id="popup1" class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center" 
    position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window" tail="none">
    <div class="demo-popup-body">
        <div class="demo-popup-content oj-sm-padding-2x">
            <oj-progress-circle id="progressCircle" value="-1"></oj-progress-circle>
        </div>
    </div>
</oj-popup>